include header.jade
body
	header
		nav
		.container.top-orange
	.container
		.row
			.columns.large-9.large-centered.medium-9.medium-centered.small-11
				#application-page
					h1 Mad Agency is on the hunt for some fresh talent
					p That&rsquo;s right &ndash; we are hunting for some experienced graphic designers that are self-starters and possess an entrepreneurial spirit.
					p You will work closely with our senior leadership on a myriad of projects ranging from brand identity design to UI wireframes for applications and web. This is a position for someone that wants to deliver more than just what is needed. Desire and drive are key two attributes that are required for you to have success at Mad Agency - we like people that go the extra mile.
					p Mad Agency is a full service marketing/advertising/PR/digital agency. We have been answering our client&rsquo;s design/copy/web/digital needs for the past 14 years. Our goal is to do produce results orientated work and have fun while doing it. Well as much fun as you can while chained to a desk handling deadlines. We kid &ndash; our desks have been chain-free since 2009.
					.sections: label Responsibilities of a Graphic Designer
					p Be able to handle multiple projects with different design requirements while making sure deadlines are met. Working with senior leadership to deliver on client expectations. Learning the marketing messages and brand direction of each of the brands you work with is paramount. We are looking for a candidate that can use both their right and left brain. You build mobile first and start with a sitemap and wireframe. You understand best practices and utilize them in your designs. Think pixel grid. 
					.sections: label Requirements
					p Qualified candidates will have BA or BS in Graphic Design, along with a minimum of 3+years related professional experience in the marketing/advertising field.
					ul.reqs
						li First and foremost you have an excellent online portfolio that showcases your design strengths
						li Associates or Bachelors degree in in graphic design 
						li Experience in UI/UX is a plus
						li Adobe Creative Suite bad-ass
						li Ability to understand developers jargon when discussing Mobile and Web technologies
						li Good attitude / No Design Jerks please
						li Hard working / Stays until job is done / Lend a hand mentality
						li Excellent communicator
						li Ability to write clearly and quickly present your ideas in an organized and coherent manner
						li Know when and what questions to ask in order to gain an understanding of a task or need
					p This is a full-time position at office in downtown Ft. Lauderdale.
					p If you feel like you have what it takes to become part of the Mad Team – please submit your resume and a personalized cover letter. You should also include a link to your work.
					.link-wrapper: a.link#recurring_payments_link(href="mailto:jobs@yeswearemad.com?subject=I'm interested in the MADness" target="_blank") Apply
include footer.jade