doctype html

html
	title MAD Express
	link(rel="stylesheet" href="assets/css/foundation.min.css")
	link(rel="stylesheet" href="assets/css/app.css")
	meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
	script(src="assets/js/vendor/jquery.js")
	script(src="assets/js/foundation.min.js")
	script(src="assets/js/vendor/modernizr.js")
	script(src="assets/js/app.js")
	//- | <script src="//use.typekit.net/qnw6pts.js"></script>
	//- | <script>try{Typekit.load();}catch(e){}</script>