# prevent folder listing
#IndexIgnore *

# disable directory browsing
Options All -Indexes

# prevent viewing of specific files
<FilesMatch "(.htaccess)">
Order Allow,Deny
Deny from all
</FilesMatch>

# html5 pushstate (history) support:
<ifModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteRule ^(404)/$ 404.html [NC,QSA,L]
    
    #remove the www for canonicalization
    RewriteBase /
    RewriteCond %{HTTP_HOST} ^www.yeswearemad\.com$ [NC]
    RewriteRule ^(.*)$ http://yeswearemad.com/$1 [R=301,L]
    
    #remove all index.* for canonicalization
    RewriteRule ^index\.(.*)$ / [R=301,L]
    RewriteRule ^(.*)/index\.(.*)$ /$1/ [R=301,L]
    
    # html5 pushstate (history) support:
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !index
    RewriteRule (.*) index.php [L]
</ifModule>
