/*-------------------------------- FOOTER  */
#footer{
	float:left;
	width: 100%;
	background-color: $navy;
	border-top: 5px solid $dropShadowColor;
	padding: $xLgMargin 0;
    .main-nav-container{
        width: 200px;
        float: left;
    }
    .main-nav{ 
        float:left;
        display: block;
        margin-left: 38px; 
        a{
            color: #FFF;
            font-size: em(10px); font-weight: lighter;
            padding: 1px $medMargin 0 $medMargin;
            &:hover{
                background-color: $xLightBlue;
                color: $defaultFontColor;
            }
        }
    }
    .logo{
	    margin-bottom: $smMargin;
    }
    .social-nav{ 
        margin-top: 189px; 
        float: right;
    }
    li{ 
        margin-bottom: $xxSmMargin; 
    }
     .btn-twitter{
        width: 18px; height: 15px;
        background: transparent url(../images/corporate/svg/footer-twitter.svg) no-repeat;
        .no-svg & { background-image: url(../images/corporate/png/footer-twitter.png); }
    }
    .btn-facebook{
        width: 15px; height: 15px;
        background: transparent url(../images/corporate/svg/footer-facebook.svg) no-repeat;
        .no-svg & { background-image: url(../images/corporate/png/footer-facebook.png); }
    }
    .btn-instagram{
        width: 15px; height: 15px;
        background: transparent url(../images/corporate/svg/footer-instagram.svg) no-repeat;
        .no-svg & { background-image: url(../images/corporate/png/footer-instagram.png); }
    }
    .btn-google {
        width: 1em;
        height: 1em;
        background: transparent url(../images/corporate/svg/footer-google.svg) no-repeat;
        .no-svg & {background-image: url(../images/corporate/png/footer-google.png);}
    }
}
