/*-------------------------------- HEADER  */
#header{
	position: fixed;
	top: 0; left: 0;
	height: 30px;
	width: 100%;
	/*min-width: $contentWidth;*/
    background-color: $gold;
	background-color: $transparentGold;
	border-bottom: 1px solid $navy;
	box-sizing: border-box;
	z-index: 200;

    /*.btn-twitter{
        width: em(18); height: em(15);
        background: transparent url(../assets/images/corporate/svg/header-twitter.svg) no-repeat;
        .no-svg &{ background-image: url(../assets/images/corporate/png/header-twitter.png); }
    }
    .btn-facebook{
        width: em(15); height: em(15);
        background: transparent url(../assets/images/corporate/svg/header-facebook.svg) no-repeat;
        .no-svg & { background-image: url(../assets/images/corporate/png/header-facebook.png); }
    }
    .btn-instagram{
        width: em(15); height: em(15);
        background: transparent url(../assets/images/corporate/svg/header-instagram.svg) no-repeat;
        .no-svg & { background-image: url(../assets/images/corporate/png/header-instagram.png); }
    }
    .btn-google {
        width: 1em;
        height: 1em;
        background: transparent url(../assets/images/corporate/svg/header-google.svg) no-repeat;
        .no-svg & {background-image: url(../assets/images/corporate/png/header-google.png);}
    }*/
}
.header-trans{
        -webkit-transition: top 1.0s 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.8s; 
           -moz-transition: top 1.0s 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.8s; 
             -o-transition: top 1.0s 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.8s; 
                transition: top 1.0s 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.8s; /* easeOutExpo*/

        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
           -moz-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
             -o-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
                transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); /* easeOutExpo */
}