$socialBtnHeight: 28px;

/*-------------------------------- NAVS  */
/*------------------ MAIN-NAV-CONTAINER  */
#main-nav-ctn{
	position: absolute;
	min-width: 100%;
	z-index: 300;
    height: 98px;
    .column{
        @media #{$small-only} {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .full-logo-sm{
        margin: 2px $xLgMargin 2px -16px;
        @media #{$small-only} {
        	margin-right: $smMargin;
        	margin-left: -10px;
			width: 76px;
			height: 60px;
		}
    }
    .h-logo{
        display: block;
        margin: 0 0 0 -12px;
        @media #{$small-only}, #{$medium-only}{
            width: 125px; 
            height: 25px;
            float: none;
            margin: 0 auto;
        }
    }
    .nav{
        float: left;
        margin: 34px 0;
        font-style: normal; font-weight: 300;
        font-size: em(11px);
        display: block;
        li{
            float:left; margin: 0 0 0 $xSmMargin;
        }
        .btn{
            display: block;
        }
        .nav-btn{ 
            height: 16px;
            padding: 1px $lgMargin 1px $lgMargin;
            color: $navFontColor;
            &.active{ 
                background-color: $darkGold;
            }
            &:hover{ 
                background-color: $darkGold;
            }
        }
	}
    #enter-story-btn-ctn{
        float: right;
        margin: $lgMargin 0; 
        @media #{$small-only} {
           margin: 17px 0; 
        }
    }
    #enter-story-btn{
        @media #{$small-only} {
            padding: 2px 9px;
            height: auto;
        }        
    }
    &.top-sticky{
        //height: $headerHeight;
        position: fixed;
        overflow: hidden;
        #enter-story-btn-ctn{
            opacity: 0;
        }
    }
    @media #{$small-only} {
        height: 70px;
    }
}
.main-nav-trans{
	-webkit-transition: top 1.0s 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.6s; 
	   -moz-transition: top 1.0s 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.6s; 
	     -o-transition: top 1.0s 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.6s; 
	        transition: top 1.0s 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.6s; /* easeOutExpo*/

	-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
	   -moz-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
	     -o-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
	        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); /* easeOutExpo */
}

/*------------------ SOCIAL-NAV  */
.social-nav{
	float: right;
    li{
        display: block;
        height: 27px;
        float: right;
        margin: 2px 0 em($xSmMargin) em($smMargin);
    }
    .btn{
        display: block;
        height: 27px;
        font-size: em(18px);
        text-decoration: none;
        color: $navy;
	    &.twitter-btn{
		    margin-top: -2px;
            font-size: em(22px);
		}
		/*&.btn-google-plus{
			margin-top: 2px;
            font-size: em(16px);
		}*/
    }
}

/*------------------ SMALL-MENU  */
.small-menu{
	position: fixed;
	top: 0; left: -100%;
	z-index: 999;
	-webkit-transform: translate3d(0,0,0); 
	-moz-transform: translate3d(0,0,0); 
	-o-transform:translate3d(0,0,0); 
	transform:translate3d(0,0,0);
    &.top-bordered{
        border-top: 1px solid $navy;
    }
    .btn-toggle-ctn{
        float: left;
        width: $headerHeight; height: $headerHeight;
    }
    .arrow{
        float: right;
        margin-top: 1px;
        width: 13px; height: 9px;
        -webkit-transform: translate3d(0,0,0); 
        -moz-transform: translate3d(0,0,0); 
        -o-transform:translate3d(0,0,0); 
        transform:translate3d(0,0,0);
        &.arrow-down{
            margin-top: 6px;
            -o-transform: rotate(90deg); 
            -moz-background-transform: rotate(90deg);
            -webkit-transform: rotate(90deg); 
            transform: rotate(90deg);
        }
        &.arrow-up{
            -o-transform: rotate(-90deg); 
            -moz-background-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg); 
            transform: rotate(-90deg);
        }
        &.arrow-left{ 
            -o-transform: rotate(-180deg);
            -moz-background-transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
    }
    .btn-blue{
        position: relative;
        float: left;
        width: 100%; height: 100%;
        border-bottom: 1px solid $navy; border-right: 1px solid $navy;
        border-top: none; border-left: none;
        .arrow{
            position: absolute;
            top: 12px; left: 11px;
        }
    }
    .nav-ctn{
        float: left;
        max-width: 350px;
        border-bottom: 1px solid $navy;
        border-right: 1px solid $navy;
        .header{
            float: left;
            width: 100%; height: $headerHeight;
            background-color: $darkGold;
            border-bottom: 1px solid $navy;
        }
        .main-nav{
            margin: 0;
            float: left;
            list-style: none;
            li{
                float: left; width: 100%; height: $headerHeight;
                border-bottom: 1px solid $navy;
            }
            li a{
                width: 100%;  height: 100%;
                display: block;
                background-color: $xLightBlue;
                color: $navy;
                padding: $xSmMargin $smMargin;
            }
            li a.tappable-active{
                background-color: $xLightGray;
            }
            li:nth-child(even) a{
                background-color: #FFF;
            }
            li:nth-child(even) a.tappable-active{
                background-color: $xxLightGray;
            }
        }
        .social-nav-ctn{
            float: left;
            width: 100%;
            height: $headerHeight;
            overflow: hidden;
            -webkit-transform: translate3d(0,0,0); 
            -moz-transform: translate3d(0,0,0); 
            -o-transform:translate3d(0,0,0); 
            transform:translate3d(0,0,0);
            .header{
                display:block;
                background-color: #FFF;
                border-bottom: none;
                padding: $xSmMargin $smMargin;
                color: $navy;
                &.tappable-active{
                    background-color: $xxLightGray;
                }
            }
        }
        .social-nav{
            float: left; width: 100%;
            border-top: 3px solid $xLightBlue;
            li{
                float: left; width: 100%;
                height: $socialBtnHeight;
                border-bottom: 1px solid $xLightBlue;
                margin:0;
                .btn{
                    width: 100%; height: 100%;
                    display: block;
                    background-color: $xxLightGray;
                    padding: 0 $smMargin;
                    margin:0;
                    font-size: em(17px);
                    &.tappable-active{
                        background-color: $xLightBlue;
                    }
                    &.twitter-btn{
                        font-size: em(20px);
                        i{
                            margin-top: -2px;
                            margin-left: -2px;
                        }
                    }
                }
            }

        }
    }
}
.social-nav-ctn-transition-h{
	-webkit-transition: height 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition: height 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition: height 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition: height 0.6s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo*/

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}
.menu-transition{
	-webkit-transition: all 0.7s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition: all 0.7s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition: all 0.7s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition: all 0.7s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo*/

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/*.icon{
	display: block;
	-moz-background-size: contain;
	-o-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}
.icon-twitter{
	width: em(18); height: em(15);
	background: transparent url(../../images/corporate/svg/header-twitter.svg) no-repeat;
}
.no-svg .icon-twitter { background-image: url(../../images/corporate/png/header-twitter.png); }
.icon-facebook{
	width: em(15); height: em(15);
	background: transparent url(../../images/corporate/svg/header-facebook.svg) no-repeat;
}
.no-svg .icon-facebook { background-image: url(../../images/corporate/png/header-facebook.png); }
.icon-instagram{
	width: em(15); height: em(15);
	background: transparent url(../../images/corporate/svg/header-instagram.svg) no-repeat;
}
.no-svg .icon-instagram { background-image: url(../../images/corporate/png/header-instagram.png); }
*/


.arrow-transition{
	-webkit-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition: all 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
}


