/*-------------------------------- PANES  */
.pane{
	float:left;
	min-width: 100%;
}
.pane-title{
	width: 140px; margin: 0 auto;	
	background-color: $navy;
	padding: 3px $xSmMargin;
	text-align: center;
	color: #FFF;
	font-size: em(12px); font-weight: 900;
	letter-spacing: em(1.5);
}
#pane-container{
	float:left;
	min-width: 100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

/*------------------------- MethodPane  */
.btn-form{
	float:left; height: $inputHeight;
	display: block;
	padding: $xSmMargin 0;
	border: 1px solid $navy;
	background-color: $lightBlue; color: $defaultFontColor;
	font-family: "franklin-gothic-urw-n7","franklin-gothic-urw",sans-serif;
	font-size: em(12px); font-weight: bold;
	text-decoration: none; text-align: center;
}
#method-pane{
	background-color: $gold;
	min-height: 600px;

	 h1{
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		text-align: center;
		/*margin-bottom: 6px;*/
	}
	 p{
		top: 88px; left: 0;
		position: absolute;
		width: 100%;
		text-align: center;
	}
	.unsupported-browser p{ top: 128px; }
	 .row-content{
		height: 180px;
		position: relative;
	}
	 .input-w-btn-container{
		position: absolute;
		top: 135px; left: 255px;
		width: 385px; height: 37px;
	}
	input{
		float:left;
		font-family: "franklin-gothic-urw-n4","franklin-gothic-urw",sans-serif;
		font-style: italic; letter-spacing: em(2px);
		height: $inputHeight;
		border: 1px solid $navy;
	}
	 input{
		width: 285px;
	}
	 .btn-ask{
		width: 100px;
		border-left: none;
	}
	.unsupported-browser a{
		font-wieght: bold;
	}
	.method-h1-trans{
		-webkit-transition: top 1.4s cubic-bezier(0.600, 0, 0.735, 0.045), opacity 0.4s 0.6s; /* older webkit */
		-webkit-transition: top 1.4s cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.4s 0.6s; 
		   -moz-transition: top 1.4s cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.4s 0.6s; 
		     -o-transition: top 1.4s cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.4s 0.6s; 
		        transition: top 1.4s cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.4s 0.6s; /* easeOutExpo*/
	
		-webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
		-webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
		   -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
		     -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
		        transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeOutExpo */
	}
	.method-p-trans{
		-webkit-transition: top 1.4s 0.2s cubic-bezier(0.600, 0, 0.735, 0.045), opacity 0.4s 0.7s; /* older webkit */
		-webkit-transition: top 1.4s 0.2s cubic-bezier(0.600, -0.280, 0.735, 0.0450), opacity 0.4s 0.7s; 
		   -moz-transition: top 1.4s 0.2s cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.4s 0.7s; 
		     -o-transition: top 1.4s 0.2s cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.4s 0.7s; 
		        transition: top 1.4s 0.2s cubic-bezier(0.600, -0.280, 0.735, 0.045), opacity 0.4s 0.7s; /* easeOutExpo*/
	
		-webkit-transition-timing-function: cubic-bezier(0.600, 0, 0.735, 0.045); /* older webkit */
		-webkit-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
		   -moz-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
		     -o-transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); 
		        transition-timing-function: cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeOutExpo */
	}
	.method-input-cnt-trans{
		-webkit-transition: top 1.0s 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.6s; 
		   -moz-transition: top 1.0s 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.6s; 
		     -o-transition: top 1.0s 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.6s; 
		        transition: top 1.0s 0.25s cubic-bezier(0.755, 0.050, 0.855, 0.060), opacity 0.24s 0.6s; /* easeOutExpo*/
	
		-webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
		   -moz-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
		     -o-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); 
		        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); /* easeOutExpo */
	}
	.method-input-blink-trans{
		-webkit-transition: all 0.7s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		   -moz-transition: all 0.7s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		     -o-transition: all 0.7s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		        transition: all 0.7s cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
	
		-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		   -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
		        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
	}
	.method-input-dull{
		/*decerease scale */
		-webkit-transform: scale(0.96,0.96);
		-moz-transform: scale(0.96,0.96);
		-o-transform: scale(0.96,0.96);
		transform: scale(0.96,0.96);
		opacity: 0.7;
	}
}

/*------------------------- HowPane  */
.lg-col{
	width: 570px;
}
.sm-col{
	width: $smColWidth;
}
.btn-move img{
	float: left;
}
.btn-move p{
	float: left;
	margin-right: $xSmMargin; margin-top: 3px;
	color: $navy;
	font-size: em(12px); font-weight: 900;
}
#how-pane .lg-col{
	margin: $xLgMargin 0 $lgMargin 0;
}
#how-pane h2{ margin-bottom: $medMargin; }
#how-pane h3{ margin-bottom: $lgMargin; }
#how-pane p{ margin-bottom: $medMargin; }
#how-pane .sm-col{
	margin: $xLgMargin 0 $lgMargin 0;
}
#how-pane .sm-col #img-how{
	width:210px; height:225px;
	display: block;
	margin: 30px 0 $lgMargin 0;
	float: right;
}
#how-pane .sm-col .btn-move-container{
	width: 134px;
	margin: 0 30px 0 0; float: right;
}

/*------------------------- WorkPane  */
.inner-full-col{
	width: $innerFullColWidth;
}
#work-pane .inner-full-col{
	margin: $xLgMargin auto $smMargin auto;
}
#work-pane .inner-full-col p{ 
	text-align:  center;
}
#work-pane .inner-full-col.video-container{
	width: 612px;
	background-color: $gray;
	height: 710px;
	margin: 0 auto $xLgMargin auto;
	/*border: 1px solid $navy;*/
}
#work-pane .inner-full-col iframe{
	z-index: 100;
}

/*------------------------- TeamPane  */
.inner-full-col-lg{
	width: $innerFullColLgWidth;
}
.bg-gold{
	//background-color: rgba(255,198,39,0.2);
	background-color: $ltGold;
}
.col-2{
	width: $col2Width;
	margin-right: $col2Margin;
}
.col.end{
	margin-right: 0 !important;
}
#team-pane .inner-full-col-lg{
	font-size: em(12px); font-weight: lighter;
	margin: 30px auto 0 auto;
}
#team-pane .inner-full-col-lg .row.padded{
  margin-bottom: $xLgMargin;
}
#team-pane .col-2 p{
	float: left;
	width: $iconPWidth;
}
#team-pane .btn-move-container{
	margin: 0 $smMargin $smMargin 0; float: right;
}
.icon-role{
	float: left;
	width: $iconWidth; height: $iconWidth;
	-moz-background-size: contain;
	-o-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
	margin-right: $iconMargin;
}
.icon-creative-director{
	background: transparent url(../../images/corporate/svg/team-icon-creativedirector.svg) no-repeat;
}
.no-svg  .icon-creative-director{ background-image: url(../../images/corporate/png/team-icon-creativedirector.png); }
.icon-front-end{
	background: transparent url(../../images/corporate/svg/team-icon-frontend.svg) no-repeat;
}
.no-svg  .icon-front-end{ background-image: url(../../images/corporate/png/team-icon-frontend.png); }
.icon-art-director{
	background: transparent url(../../images/corporate/svg/team-icon-artdirector.svg) no-repeat;
}
.no-svg  .icon-art-director{ background-image: url(../../images/corporate/png/team-icon-artdirector.png); }
.icon-programmer{
	background: transparent url(../../images/corporate/svg/team-icon-programmer.svg) no-repeat;
}
.no-svg  .icon-programmer{ background-image: url(../../images/corporate/png/team-icon-programmer.png); }
.icon-copy-writer{
	background: transparent url(../../images/corporate/svg/team-icon-copywriter.svg) no-repeat;
}
.no-svg  .icon-copy-writer{ background-image: url(../../images/corporate/png/team-icon-copywriter.png); }
.icon-proj-manager{
	background: transparent url(../../images/corporate/svg/team-icon-projmanger.svg) no-repeat;
}
.no-svg  .icon-proj-manager{ background-image: url(../../images/corporate/png/team-icon-projmanger.png); }

/*------------------------- DisciplinesPane  */
.col-3{
	width: $col3Width; margin-right: $col3Margin;
}
#disciplines-pane .pane-title{
	margin-top: -20px;
}
#disciplines-pane p{
	margin-bottom: $lgMargin;
}
#disciplines-pane .inner-full-col{
	margin: $xLgMargin auto 0 auto;
}
#disciplines-pane li:before {
    content: "+";
    margin-right: $medMargin;
    color: $gold;
}
#disciplines-pane li{
	margin-bottom: $xSmMargin;
}
#disciplines-pane .col-3{
	margin-bottom: 66px;
}

/*------------------------- ContactPane  */
.inner-full-col-sm{
	width: $innerFullColSmWidth;
}
#contact-pane .sm-col{
	width: 150px;
	margin: $smMargin $xLgMargin $smMargin 0;
}
#contact-pane{
	background-color: $xLightBlue;
	border-top: 1px solid $navy;
	border-bottom: 1px solid $navy;
}
#contact-pane .pane-title{
	margin-top: -20px;
}
#contact-pane .map-cnt{
	width: 100%;
	height: 250px;
	background-color: #FFF;
	border: 1px solid $navy;
	margin: $lgMargin 0 $xLgMargin 0;
}
#contact-pane .map{
	width: 100%; height: 100%;
}
#contact-pane .inner-full-col-lg{
	margin: $xLgMargin auto;
}
#contact-pane .inner-full-col{
	margin: 0 auto;
}
#contact-pane .inner-full-col-sm{
	margin: 0 auto $xLgMargin auto;
}
#contact-pane .btn-addr{
	float: left;
	margin: 0 0 -$smMargin 4px;
	padding: 2px $xSmMargin;
	color: $navy;
	border: 1px solid transparent;
}
#contact-pane .btn-addr.active{
	background-color: #FFF;
	border: 1px solid $navy;
}
p.addr{
	font-size: em(12px);
}
.flag-map{
	float: left;
	position: relative;
	width: 230px; height: 94px;
	-moz-background-size: contain;
	-o-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
	background: transparent url(../../images/corporate/png/contact-map.png) no-repeat;
}
.hires .flag-map{ 
	background-image: url(../../images/corporate/png/contact-map@2x.png); 
	-moz-background-size: contain;
	-o-background-size: contain;
	-webkit-background-size: contain;
	background-size: contain;
}
.flag{
	position: absolute; display: block; 
	width: 30px; height:40px;
	overflow: hidden;
	background: transparent url(../../images/corporate/png/contact-flag.png) no-repeat;
}
.hires  .flag{ 
	width: 30px; height:40px;
	overflow: hidden;
	background-image: url(../../images/corporate/png/contact-flag@2x.png);
	-moz-background-size: 30px;
	-o-background-size: 30px;
	-webkit-background-size: 30px;
	background-size: 30px; 
}
#flag-fl.active{
	left: 201px; top: 36px;
	background-position: 0 -42px;
}
#flag-fl.active:hover{
	top: 38px; height: 38px;
 	background-position: 0 2px;
}
#flag-fl{
	top: 36px; height: 40px; left: 201px; top: 36px;
 	background-position: 0 2px;
}
#flag-fl:hover{
	top: 38px; height: 38px;
	background-position: 0 -42px;
}
#flag-mn{
	top: -18px; left: 126px;
	background-position: 0 0;
}
#flag-mn:hover{
	top: -17px;
 	background-position: 0 -43px;
 	height: 39px;
}
#flag-mn.active{
	top: -18px;
 	background-position: 0 -43px;
}
#flag-mn.active:hover{
	top: -17px; left: 126px;
	background-position: 0 0;
	height: 39px;
}
#contact-pane .sm-col#mad-south-addr{
	margin-left: 200px;
}
#contact-pane .msg{
	text-align: center;
	margin-bottom: $xLgMargin;
}
#contact-pane .col-2{
	width: $col2SmWidth;
	margin-bottom: $medMargin;
}
#contact-pane .input-container{
	height: 55px;
	color: $lightNavy;
	margin-bottom: $smMargin;
}
#contact-pane .input-container p{
	font-size: em(12px);
	margin-bottom: $xxSmMargin;
}
#contact-pane .input-container.input-container-ta{
	height: 123px;
}
#contact-pane textarea{
	height: 100px;
	border: 1px solid $navy;
}
#contact-pane .btn-submit{
	margin-top: 16px;
}
#contact-pane .notice-col{
	height: 0;
}
#contact-pane .padding-row{
	margin-bottom: $xxLgMargin;
}
.notice{
	text-align: center;
}
#contact-pane .notice.error-msg{
	color: $darkGold;
	font-weight: 900;
}
#contact-pane .notice.success-msg{
}