.preload-container{
	position:absolute;
	overflow: hidden;
	visibility:hidden;	
	z-index:0;
}
/* preload stry loader assets */
.preload-unicorn {
  width: 0;
  height: 0;
  background: transparent url(../../images/loader/png/loader-unicorn.png) no-repeat;
  visibility:hidden; 
}
.preload-rainbow-end {
  width: 0;
  height: 0;
  background: transparent url(../../images/loader/png/loader-rainbow.png) no-repeat;
  visibility:hidden; 
}
.preload-rainbow-solid {
  width: 0;
  height: 0;
  background: transparent url(../../images/loader/png/loader-snippet.png) repeat-x;
  visibility:hidden; 
}
