div#orientation-alert {
	display: none;
	background-color: rgba(0,0,0,0.9);
	color: #FFF;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 1100;
}
div#orientation-alert h1 {
	line-height: 1.2em;
	font-size: 40px;
	font-family: 'The Skinny';
	width: 70%;
	text-align: center;
	margin: 15% auto;
}


