/* 
	Header
*/
#header .btn-google {
	width: 1em;
	height: 1em;
	background: transparent url(../../images/corporate/svg/header-google.svg) no-repeat;
}
.no-svg #header .btn-google {background-image: url(../../images/corporate/png/header-google.png);}

/*
	Footer
*/
#footer .btn-google {
	width: 1em;
	height: 1em;
	background: transparent url(../../images/corporate/svg/footer-google.svg) no-repeat;
}
.no-svg #footer .btn-google {background-image: url(../../images/corporate/png/footer-google.png);}