$loaderFontColor: $navy;
$loaderFontSize: 15px;

/* -------------- preload loader assets */
.preload-container{
	position:absolute;
	overflow: hidden;
	visibility:hidden;	
	z-index:0;
}
/* preload stry loader assets */
/*.preload-unicorn {
  width: 0;
  height: 0;
  background: transparent url(../../assets/images/loader/png/loader-unicorn.png) no-repeat;
  visibility:hidden; 
}
.preload-rainbow-end {
  width: 0;
  height: 0;
  background: transparent url(../../assets/images/loader/png/loader-rainbow.png) no-repeat;
  visibility:hidden; 
}
.preload-rainbow-solid {
  width: 0;
  height: 0;
  background: transparent url(../../assets/images/loader/png/loader-snippet.png) repeat-x;
  visibility:hidden; 
}*/


/* -------------- LoaderView */
.loader{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    z-index: 900;
    color: $loaderFontColor;
	font-size: $loaderFontSize;
	h1{
		font-size: em(45px);
		font-weight: 900;
	}
	h2{
		font-size: em(33px) ;
		font-weight: 900;
	}
	h3{
		font-size: em(20px);
		font-weight: 500;
		font-family: "franklin-gothic-urw",sans-serif !important;
	}
	h4{
		font-size: em(12px);
		font-weight: 900;
		font-family: "franklin-gothic-urw",sans-serif !important;
	}
	p{  font-weight: 400;
	}
	.gradient.gold{
		position: absolute;
		min-width: 100%; 
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}
	.info-container{
		max-width: $contentWidth;
		width: 100%;
		position: absolute;
		height: 150px;
		text-align: center;
		h2{ margin-bottom: $lgMargin; }
		p{ margin-bottom: $xxSmMargin; }
    }
	.info{
		width: 100%;
		position: absolute;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}
	.ready-msg-cnt{
		position: absolute;
		width: 300px; height: 60px;
		text-align: center;
	}
	.ready-msg{
		position: absolute;
		width: 100%; height: 100%;
		text-align: center;
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	    h1{
			font-family: 'The Skinny', 'Helvetica', Arial, sans-serif;
		}
	}
	.loaded-ratio-indicator{
		position: absolute; min-width:1px; height: 75px; 
		-webkit-transform: translate3d(0,0,0);
		-moz-transform: translate3d(0,0,0);
	    -o-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	    transform: translate3d(0,0,0);
	}
	.loaded-ratio-indicator-text-cnt{ 
	    float: left;
	    h1{
            float: left;
            display: block;	
    	}
    }
    .activity-indicator-cnt{
        float: left;
        position: relative;
        width: 25px;
        height: 25px;
        margin-top: 27px;
        margin-left: 3px;
    }
}
.rainbow-container{
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	overflow: hidden;
}
.rainbow{
	position: absolute;
}
.rainbow-all{
	float: left;
	margin-top: 52px;
}
.unicorn{
	float:left;
	margin-left: -72px;
	width: 236px; height: 174px;
	background: transparent url(../../assets/images/loader/png/loader-unicorn.png) no-repeat;
	-webkit-background-size: 236px 174px;
	-moz-background-size: 236px 174px;
	-o-background-size: 236px 174px;
	background-size: 236px 174px;
}
.rainbow-end{
	float:left;
	width: 412px; height: 65px;
	background: transparent url(../../assets/images/loader/png/loader-rainbow.png) no-repeat;
	-webkit-background-size: 412px 65px;
	-moz-background-size: 412px 65px;
	-o-background-size: 412px 65px;
	background-size: 412px 65px;
}
.rainbow-solid{
	float:left;
	width: 412px; height: 65px;
	background: transparent url(../../assets/images/loader/png/loader-snippet.png) repeat-x;
	-webkit-background-size: 1px 65px;
	-moz-background-size: 1px 65px;
	-o-background-size: 1px 65px;
	background-size: 1px 65px;
}
.gradient-transition{
	-webkit-transition: all 1.6s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition: all 1.6s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition: all 1.6s cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition: all 1.6s cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo*/

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
}
.gradient-transition-out{
	-webkit-transition: all 1.6s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	   -moz-transition: all 1.6s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	     -o-transition: all 1.6s cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	        transition: all 1.6s cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeOutExpo*/

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeOutExpo */
}
.info-transition{
	-webkit-transition: all 1.4s cubic-bezier(0.190, 1.000, 0.220, 1.000), opacity 0.7s; 
	   -moz-transition: all 1.4s cubic-bezier(0.190, 1.000, 0.220, 1.000), opacity 0.7s; 
	     -o-transition: all 1.4s cubic-bezier(0.190, 1.000, 0.220, 1.000), opacity 0.7s; 
	        transition: all 1.4s cubic-bezier(0.190, 1.000, 0.220, 1.000), opacity 0.7s; 

	-webkit-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000); 
	        transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
.rainbow-ease-out-transition{
	-webkit-transition: all 11s cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition: all 11s cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition: all 11s cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition: all 11s cubic-bezier(0.230, 1.000, 0.320, 1.000); 

	-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.rainbow-ease-in-transition{
	-webkit-transition: all 6s cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	   -moz-transition: all 6s cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	     -o-transition: all 6s cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	        transition: all 6s cubic-bezier(0.445, 0.050, 0.550, 0.950); 

	-webkit-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	   -moz-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	     -o-transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950); 
	        transition-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
}
