/*----------------- DIMS  */
$contentWidth: 1040px;
$inputHeight: 32px;
$minHeaderWidth: $contentWidth;
$lgColWidth: 580px;
$smColWidth: $contentWidth - $lgColWidth - ($lgMargin*3);
$innerFullColLgWidth: 840px;
$innerFullColWidth: 790px;
$innerFullColSmWidth: 640px;
$col2Margin: $xxLgMargin;
$col2Width:  ($innerFullColLgWidth - $col2Margin)/2;
$col2SmWidth:  ($innerFullColSmWidth - $col2Margin)/2;
$iconWidth: 50px;
$iconMargin: $medMargin;
$iconPWidth: $col2Width - $iconWidth - $iconMargin;
$col3Margin: $xLgMargin;
$col3Width:  ($innerFullColWidth - ($col3Margin*2))/3;


/*--------------------------------  */
#main{
	position: absolute;
	min-width: 100%;
	height: 100%;
}
.corporate{
	position: absolute;
	visibility: hidden;
	min-width: 100%;
	height: 100%;
	z-index: 1;
}
.content-sect{
	float:left;
	min-width: 100%;
}
.shadow-bordered{
	border-bottom: 5px solid $dropShadowColor;
}
.shadow-bordered-lt-blue{
	border-color: $dropShadowLightBlueColor;
}
.shadow-bordered-blue{
	border-color: $dropShadowBlueColor;
}
.spacer{
    float:left;
    width: 100%;
    height: 1px;
    border-top: 1px solid $navy;
    &.shadow-bordered{
        width: 100%;
        height: 6px;
        border-top: 1px solid $navy;
    }
}
.content{
	/*width: 100%;
	max-width: $contentWidth;*/
	width: $contentWidth;
	margin: 0 auto;
	padding: 0 $lgMargin;
}
.row-float{
	width: 100%; float:left;
}
.row-absolute{
	width: 100%; position:absolute;
}
.col{
	float: left;
}
.col.col-right{
	float: right; margin-right: 0;
}
input{
	display: block;
    height: $inputHeight;
    border: 1px solid $navy;
    font-family: "franklin-gothic-urw-n4","franklin-gothic-urw",sans-serif;
}



