.corporate{
	width: 100%;
	position: absolute;
	color: $defaultFontColor;
	font-size: $defaultFontSize;
	font-family: "franklin-gothic-urw",sans-serif !important;

	h1{
		font-size: em(45px);
		font-weight: 900;
	}
	h2{
		font-size: em(33px);
		font-weight: 900;
	}
	h3{
		font-size: em(20px);
		font-weight: 500;
		//font-family: "franklin-gothic-urw",sans-serif !important;
	}
	h4{
		font-size: em(12px);
		font-weight: 900;
		//font-family: "franklin-gothic-urw",sans-serif !important;
	}
	p{  font-weight: 400;  }
	a{  text-decoration: none; outline:none; }
	ul{ list-style: none; }
	input{
		padding: $xxSmMargin $smMargin;
		//font-family: "franklin-gothic-urw",sans-serif !important;
		font-size: em($inputFontSize) !important; color: $inputFontColor;
		font-style: italic;
		letter-spacing: em(2px);
		font-weight: 400;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
	textarea{
		padding: $xSmMargin $smMargin;
		//font-family: "franklin-gothic-urw",sans-serif !important;
		font-size: em($inputFontSize) !important; color: $inputFontColor;
		font-style: italic;
		letter-spacing: em(2px);
		font-weight: 400;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}
::-webkit-input-placeholder { color: $inputFontColor; }
:-moz-placeholder {  color: $inputFontColor;  }
::-moz-placeholder {  color: $inputFontColor;  }
:-ms-input-placeholder {  color: $inputFontColor;  }
b{ font-weight: bold; }
i{ font-style: italic; }

