/*----------------- COLORS  */
$lightGold: #fceec9;
$gold: #ffc627;
$darkGold: #ffa227;
$transparentGold: rgba(255, 198, 39, 0.8);
$navy: #333e48;
$lightNavy: #586069;
$lightBlue: #bdd0ff;
$blue: #a1b3ff;
$xLightBlue: #e7ebf3;
$dropShadowColor: $darkGold;
$dropShadowLightBlueColor: $lightBlue;
$dropShadowBlueColor: $blue;
$gray: #929292;
