/*--------------------------------  */
$headerHeight: 40px;
$xxSmMargin: 4px;
$xSmMargin: 8px;
$smMargin: 12px;
$medMargin: 16px;
$lgMargin: 24px;
$xLgMargin: 48px;
$xxLgMargin: 60px;

html, body{
	min-width: 100%;
	height: 100%;
	font-family: "franklin-gothic-urw", Sans-Serif;
	font-style: normal;
	background-color: #FFF;
}
section{
	display: block;
	float: left;
	min-width: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    &.custom-focus{
        outline: $darkGold solid 2px;
    }
}
