/*----------------- FONTS  */
$defaultFontColor: $navy;
$defaultFontSize: 15px;
$inputFontSize: 12px;
$inputFontColor: #586069;
$navFontColor: #555252;


h1.white,
h2.white,
h3.white,
h4.white,
p.white,{
	color: #FFF;
}
.text-shadow.white{
	text-shadow: 0 0.066em #FDA139;
}