.btn-blue{
	float: left; height: $inputHeight;
	display: block;
	padding: 6px $medMargin;
	border: 1px solid $navy;
	background-color: $lightBlue; color: $defaultFontColor;
	font-family: "franklin-gothic-urw-n7","franklin-gothic-urw",sans-serif;
	font-size: em(12px); font-weight: bold;
	text-decoration: none; text-align: center;
}

