.btn-blue{
	float: left; height: $inputHeight;
	display: block;
	padding: 6px $medMargin;
	border: 1px solid $navy;
	background-color: $lightBlue; color: $defaultFontColor;
	font-family: "franklin-gothic-urw-n7","franklin-gothic-urw",sans-serif;
	font-size: em(12px); font-weight: bold;
	text-decoration: none; text-align: center;
}
/*------------------------- social buttons  */
/*.btn-twitter{
    width: 18px; height: 15px;
    background: transparent url(../assets/images/corporate/svg/footer-twitter.svg) no-repeat;
    .no-svg & { background-image: url(../assets/images/corporate/png/footer-twitter.png); }
}
.btn-facebook{
    width: 15px; height: 15px;
    background: transparent url(../assets/images/corporate/svg/footer-facebook.svg) no-repeat;
    .no-svg & { background-image: url(../assets/images/corporate/png/footer-facebook.png); }
}
.btn-instagram{
    width: 15px; height: 15px;
    background: transparent url(../assets/images/corporate/svg/footer-instagram.svg) no-repeat;
    .no-svg & { background-image: url(../assets/images/corporate/png/footer-instagram.png); }
}
.btn-google {
    width: 15px;
    height: 15px;
    background: transparent url(../assets/images/corporate/svg/footer-google.svg) no-repeat;
    .no-svg & {background-image: url(../assets/images/corporate/png/footer-google.png);}
}*/
