include header.jade
body#payments-page
	header
		nav
		.container.top-orange
			.row
				.columns.large-9.large-centered.medium-9.medium-centered.small-11.small-centered
					#logo-middle.text-center
			.row
				.columns.large-9.large-centered.medium-9.medium-centered.small-11.small-centered
					h1 Hi. Welcome to our Mad&nbsp;Express customer payment&nbsp;page.
					h5 Congrats on your recent decision to modernize your web presence.
					h5 This page helps you with the variety of payment options that we have for your custom website.
	.container.border-top
		.row
			.columns.large-9.large-centered.medium-9.medium-centered.small-11.small-centered
				.section-label <span class="one-word-style">mad</span> special
		.row
			.columns.large-9.large-centered.medium-9.medium-centered.small-11.small-centered
				p Our quick and cost-effective package to modernize your online presence starts with a deposit down payment of $250. Once you complete your deposit, it's full-throttle on your design.
				label Deposit link
				.link-wrapper: a.link#deposit_link Buy Now
				br
				br
				p Upon site completion, our $125 payment plan will go into effect for 22 months. Once you have the green light from our team, set yourself up with the recurring payment link below.
				label Recurring Payments
				.link-wrapper: a.link#recurring_payments_link Buy Now

	.container.border-top
		.row
			.columns.large-9.large-centered.medium-9.medium-centered.small-11.small-centered
				.section-label <span class="one-word-style">mad</span> services
		.row
			.columns.large-9.large-centered.medium-9.medium-centered.small-11.small-centered
				p GREAT! - so you&rsquo;re website is live 'n' rockin'. We&rsquo;re still here to help.
				p If you expect a lot of regular changes and updates to your website, we can guarantee you a set number of hours per month:
				label Monthly Update Bundles
				.row
					.columns.large-4.medium-4.small-4.text-center
						.pricing-option
							figure.pricing-graphic#hours-5
							.link-wrapper: a.pricing-link Buy Now
					.columns.large-4.medium-4.small-4.text-center
						.pricing-option
							figure.pricing-graphic#hours-10
							.link-wrapper: a.pricing-link Buy Now
					.columns.large-4.medium-4.small-4.text-center
						.pricing-option
							figure.pricing-graphic#hours-20
							.link-wrapper: a.pricing-link Buy Now
				label Updates a la Carte
				p Need a little tweak? No problem, at $55/hour. Contact us directly for your specific changes and we will provide an estimated quote for your approval.
				label Training
				p Want to make updates yourself but you&rsquo;re not sure how to hack it?  We can provide personalized training.

include footer.jade



